.container-f {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1500px;
  height: auto;
  border-radius: 8px;
  background-color: white;
  margin-top: 30px;
}

.image-container-f {
  flex: 1;
  margin-right: 20px;
  margin-top: 30px;
}

.forgot-image-f {
  width: 500px;
  height: auto;
  margin-left: 200px;
}

.forgot-password-container-f {
  flex: 2;
  max-width: 300px;
  padding: 20px 30px;
  margin-right: 200px;
}

.forgot-password-container-f h2 {
  text-align: left;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-change-f {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.btn-change-f:hover {
  background-color: #0056b3;
}

.error-text {
  color: red;
  font-size: 0.9em;
}

.password-input-container {
  position: relative;
}

.password-input-container input {
  padding-right: 30px;
}

.eye-icon-f {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
} 

.back-btn-f {
  text-align: left;
}

.back-btn-f p {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.back-btn-f a {
  color: #007bff;
  text-decoration: none;
}

.back-btn-f a:hover {
  color: #0056b3;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  .container-f {
    flex-direction: column;
    padding: 10px;
    margin: 0;
  }

  .image-container-f {
    margin: 0;
    text-align: center;
    flex: 0;
  }

  .forgot-image-f {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
  }

  .forgot-password-container-f {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    padding: 10px;
  }
}
