.container-l {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1500px;
  height: auto;
  margin: 50px auto;
  padding: 30px;
  border-radius: 8px;
  background-color: white;
  margin-top: 30px;
}

.image-container-l {
  flex: 1;
  margin-right: 20px;
}

.login-image {
  width: 500px;
  height: auto;
  margin-left: 200px;
}

.login-container {
  flex: 2;
  max-width: 300px;
  padding: 20px 20px;
  border-radius: 10px;
  background-color: #fff;
  margin-right: 200px;
}

.login-container h2 {
  text-align: left;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn6 {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.btn6:hover {
  background-color: #0056b3;
}

.forgot-password {
  text-align: left;
  margin-top: 20px;
}

.forgot-password p {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.forgot-password a {
  color: #007bff;
  text-decoration: none;
}

.forgot-password a:hover {
  color: #0056b3;
}

.password-input-container1 {
  position: relative;
}

.password-input-container1 input {
  padding-right: 30px; /* Adjust as needed */
}

.eye-icon-l {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  .container-l {
    flex-direction: column;
    padding: 10px;
    margin: 20px auto;
  }

  .image-container-l {
    margin: 0;
    text-align: center;
    flex: 0;
  }

  .login-image {
    margin: 0;
    width: 80%;
    max-width: 300px;
  }

  .login-container {
    margin: 0 auto;
    width: 80%;
    max-width: 400px;
    padding: 10px;
  }
}
