.container2 {
    text-align: center;
    padding-top: 200px;
    max-width: 300px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-top: 100px;
}

.logo {
    width: 70px;
    height: auto;
    margin-bottom: 5px;
}

h4 {
    font: optional;
    margin-bottom: 30px;
}

.button-container {
    justify-content: center;
}

.btn1 {
    padding: 10px 60px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}
.btn2 {
    padding: 10px 54px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}
    

.btn2:hover, .btn1:hover {
    background-color: #0056b3;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #0056b3;
}
