.container-p2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 1500px;
    height: auto;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
    background-color: white;
    margin-top: 30px;
}

.image-container-p2 {
    flex: 1;
    margin-right: 20px;
}

.connect {
    margin-top: 30px;
    width: 500px;
    height: auto;
    margin-left: 200px;
}

.content {
    flex: 2;
    margin-right: 100px;
}

.logo {
    width: 70px;
    height: auto;
    margin-bottom: 5px;
}

h2 {
    margin-bottom: 30px;
}

.button-container {
    justify-content: center;
}

.btn1 {
    padding: 10px 80px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.btn2 {
    padding: 10px 74px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn2:hover, .btn1:hover {
    background-color: #0056b3;
}

.back-btn-p2 {
    text-align: left;
    margin-left: 140px;
}

.back-btn-p2 p {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.back-btn-p2 a {
    color: #007bff;
    text-decoration: none;
}

.back-btn-p2 a:hover {
    color: #0056b3;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
    .container-p2 {
        flex-direction: column;
        padding: 10px;
    }

    .image-container-p2 {
        margin: 0;
        text-align: center;
    }

    .connect {
        margin: 0 auto 20px;
        width: 100%;
        max-width: 300px;
    }

    .content {
        margin: 0;
        padding: 10px;
        width: 100%;
    }

    .back-btn-p2 {
        text-align: left;
        margin-left: 140px;
    }
}
