.container {
    text-align: center;
    padding-top: 200px;
}

.logo {
    width: 70px;
    height: auto;
    margin-bottom: 5px;
}

h4{
    font: optional;
    margin-bottom: 30px;
}

.button-container {
    justify-content: center;}

.btn1 {
    padding: 10px 60px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.btn {
    padding: 10px 53px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: #0056b3;
}
.btn1:hover {
    background-color: #0056b3;
}