/* Style for the form container */
.sign-up-container {
  margin: auto;
  margin-top: 70px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

/* Style for the form title */
.sign-up-container h2 {
  margin-bottom: 20px;
}

/* Style for form elements */
.sign-up-container form div {
  margin-bottom: 15px;
}

/* Style for labels */
.sign-up-container label {
  display: block;
  margin-bottom: 5px;
}

/* Style for input fields */
.sign-up-container input[type="text"],
.sign-up-container input[type="email"],
.sign-up-container input[type="password"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd; /* Optional: adds a border for better visibility */
  border-radius: 4px; /* Optional: adds rounded corners to the input */
}

/* Style for checkbox container */
.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
}

/* Style for error messages */
.sign-up-container .error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/* Style for the submit button */
.sign-up-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

.sign-up-container button:hover {
  background-color: #0056b3;
}

/* Style for the login redirect */
.login-redirect {
  margin-top: 20px;
  text-align: center;
}

.login-redirect p {
  margin: 0;
}

.login-redirect a {
  color: #007bff;
  text-decoration: none;
}

.login-redirect a:hover {
  color: #0056b3;
}

/* Style for the password input container */
.password-input-container {
  position: relative;
  margin-bottom: 15px; /* Ensure space below input fields */
}

/* Style for password inputs */
.password-input-container input {
  width: 100%;
  padding-right: 40px; /* Adjust padding to fit the eye icon */
}

/* Style for the eye icon */
.eye-icon {
  position: absolute;
  right: 10px;
  margin-top: 5px;
  /* top: 50%; */
  /* transform: translateY(-50%); */
  cursor: pointer;
  font-size: 16px; /* Adjust font size if needed */
  color: #333; /* Optional: color for better visibility */
}

/* Style for the warning message */
.warning {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 0; /* Ensure there's no extra space below the warning message */
}

