.test-analysis {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.test-analysis h1 {
  text-align: left;
  margin-bottom: 20px;
}

.test-analysis form {
  display: flex;
  flex-direction: column;
}

.test-analysis form div {
  margin-bottom: 15px;
}

.test-analysis label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.test-analysis .required {
  color: red;
  margin-left: 2px;
}

.test-analysis input[type="text"], 
.test-analysis input[type="email"], 
.test-analysis select,
.test-analysis input[type="range"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

.test-analysis input[type="text"]:focus, 
.test-analysis input[type="email"]:focus, 
.test-analysis select:focus,
.test-analysis input[type="range"]:focus {
  border-color: #007bff;
}

.test-analysis .error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.test-analysis .radio-group {
  display: flex;
  flex-direction: column;
}

.test-analysis .radio-group.horizontal {
  flex-direction: row;
  flex-wrap: wrap;
}

.test-analysis .radio-group label {
  margin-bottom: 5px;
  font-weight: normal;
}

.test-analysis .slider {
  width: 80%; /* Adjust this value to change the length of the slider */
  margin: 10px auto; /* Center the slider and add margin for spacing */
  display: block; /* Ensure the slider is displayed as a block element */
}

.test-analysis .slider-value {
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
}

.test-analysis .line-input {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.test-analysis button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 400px;
}

.test-analysis button:hover {
  background-color: #0056b3;
}
